body {
  font-family: Arial, Helvetica, sans-serif;
  color: #600b14;
  background-color: #ec8f30;
  margin: flex;
}
@media screen and (min-width: 37.5em) {
  body {
    margin: 0px;
  }
}

h1 {
  color: #fdf2d1;
  font-size: 2em;
  font-weight: 400;
  background-color: #500911;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
}

h2 {
  margin-top: 0;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00315e;
}
@media screen and (min-width: 37.5em) {
  .navigation {
    display: flex;
  }
}
.navigation a {
  text-decoration: none;
  font-weight: bold;
  color: #f9f9f9;
  display: block;
  padding: 0.75em 1em;
}

.navigation a:hover {
  background-color: #00488d;
}

footer {
  text-align: center;
  background-color: #0061bd;
  color: #fefefe;
  padding: 1em;
  font-size: 0.875em;
  margin-top: 0.5em;
}
@media screen and (min-width: 37.5em) {
  footer {
    text-align: center;
    padding: 1em;
    font-size: 0.875em;
    margin-top: 0.5em;
  }
}

.page-container {
  background-color: #f9f9f9;
  width: 90%;
  padding: 0.5em;
  margin: 1em auto;
}
@media screen and (min-width: 37.5em) {
  .page-container {
    width: 90%;
    padding: 0.5em;
  }
}

main {
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin-top: 0.5em;
}
@media screen and (min-width: 37.5em) {
  main {
    display: flex;
  }
}

.html-feature,
.css-feature {
  padding: 1em;
}

.html-feature {
  background-color: #15b63d;
}
@media screen and (max-width: 37.5em) {
  .html-feature {
    margin-bottom: 1em;
  }
}

.css-feature {
  background-color: #ec7f19;
}
@media screen and (min-width: 37.5em) {
  .css-feature {
  }
}
